.localz{
    position: fixed !important;
    left: 1vw;
    bottom: 20px;
    /* background-color: red !important; */
}

.sobreporCard {
    position: relative !important;
    cursor: pointer !important;
}

.sobreporCard::after, .sobreporCard::before {
    content: "" !important;
    position: absolute !important;
    bottom: 0 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transition: transform 0.3s ease-in-out !important;
}

.sobreporCard::before{
    border-left: 1px solid #0d6efd !important;
    border-right: 1px solid #0d6efd !important;
    transform: scaleY(0) !important;
}

.sobreporCard::after{
    border-top: 1px solid #0d6efd !important;
    border-bottom: 1px solid #0d6efd !important;
    transform: scaleX(0) !important;
}

.sobreporCard:hover::before{
    transform: scaleY(1) !important; 
}
 
.sobreporCard:hover::after{
    transform: scaleX(1) !important;
}

.nav-bg {
    background-color: #082C4D;
}

.button-option {
    background-color: #063c6e;
}

.button-option-color {
    background-color: #c41414;
}

.text-red {
    color: #c41414;
}

.text-icon {
    color: #063c6e;
}

.retorno {
    border: 1px solid #063c6e;
}

.retorno:hover {
    background-color: #13497c9d;
}

.lead {
    font-weight: 500;
}

body {
    background-color: #F8F9FA;
}