@charset "UTF_8";

:root {
    --BODY: #f0f6f6;
    --FONT-LOGIN: #393939de;
    --FONT-ENVIO: #f0f6f6;
    --HEADER: #0c5b91;
    --BUTTOM: #616161;
    --SHADOW: rgba(0, 0, 0, 0.195);
    --SECTION: white;
    --INPUT-SPACE: #6b6c6c73;
    --ENVIO: #616161;
    --ENVIO-HOVER: #076aac;
    --FOOTER: #0c5b91;
    }

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--BODY);
}

header {
    background-color: var(--HEADER);
    height: 130px;
}

div#sudesb-position {
    display: flex;
    justify-content: center;

    padding: 6px 0px;
}

main {
    margin: auto;
}

footer {
    font-size: 1.1em;
    text-align: center;

    background-color: var(--FOOTER);
    color: var(--FONT-ENVIO);

    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 2px 0px;
} 

footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--FONT-ENVIO);
}

footer > p > a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}