@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Shantell+Sans:wght@300&display=swap');



/* PALETA DE CORES */

:root {
    --HEADER:       #815321;
    --NAV:          rgb(107, 68, 26);
    --NAV-HOVER:    #523311;
    --BODY-1:       #60380d;
    --BODY-2:       #8c5a29;
    --FOOTER:       #6f4518;
    --FONT:         #fffaf0;
    --SHADOW:       #00000075;
}

/* PALETA DE CORES */

/* CONFIGURAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: var(--FONT);
}

/* CONFIGURAÇÃO GERAL */

/* HEADER */

header {
    background-color: var(--HEADER);
}

#logomarca {
    display: block;
    margin: auto;
    padding: 5px 0px 5px 0px;
}

nav {
    background-color: var(--NAV);
    padding: 4px 0px 4px 0px;
}

#home {
    padding: 0px 6px;
}

nav > a {
    color: var(--FONT);
    font-size: 0.9em;
    text-decoration: none;
    padding: 8px 5px 4px 5px;
}

nav > a > p {
    display: inline;
    position: relative;
    bottom: 4px;
}

nav > a:hover {
    transition: 0.9s;
    background-color: var(--NAV-HOVER);
}

/* HEADER */

/* BODY */

body {
    background-color: var(--BODY);
    min-height: 100vh;
}

h1 {
    position: relative;
    bottom: 40px;
    text-align: center;
    font-size: 1.9em;
}

h2 {
    padding: 20px 0px 0px 0px;
    font-size: 1.9em;
}

h3 {
    text-align: center;
    position: relative;
    bottom: 40px;
    font-size: 1.9em;
}

#texto-section-1 {
    padding: 0px 0px 20px 0px;
}

#logomarca-2 {
    margin: 20px 0px 20px 0px;
    opacity: 78%;
}

#produtos {
    margin: 20px 0px 20px 0px;
    opacity: 78%;
}

section.normal {
    background-image: linear-gradient(var(--BODY-1), var(--BODY-2));
    padding: 16% 0px 6% 0px;
}

section.imagem {
    text-align: center;
    background-color: var(--BODY);
    box-shadow: inset 6px 6px 13px var(--SHADOW);
    background-attachment: fixed;
    padding: 0px 0px 10% 0px;
}

section#img01 {
    background-image: url(../imagens/img\ 1.png);
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/img\ 2.png);
    background-position: right center;
    background-size: cover 50%;
}

.midias {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

#position {
    display: block;
    margin: auto;
    width: 50px;
    position: relative;
    right: 5%;
}

.moviment:hover {
    transition: transform 0.5s;
    transform: translate(-4px, -4px);
    }

#agenda:hover {
    transition: transform 0.5s;
    transform: translate(-4px, -4px);
    }

#produtos:hover {
    transition: transform 0.5s;
    transform: translate(-4px, -4px);
}

footer {
    background-color: var(--FOOTER);
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    padding: 5px 0px;
    box-shadow: 1px 1px 10px var(--SHADOW);
}

/* BODY */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}