@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

:root {
    --BODY-DEGRADE-1: #03588C;
    --BODY-DEGRADE-2: #173F7F;
    --CADASTRO:       #dad9d9;
    --BUTTON:         #dc4a4a;
    --BORDER:         #8a8a8ad2;
    --BUTTON-HOVER:   #a43232;
    --FONT-COLOR:     #1a1a1a;
    --FONT-BUTTON:    #fafafa;
    --FONT: 'Josefin Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--FONT);
    background-color: var(--CADASTRO);
}

.titulo {
    text-align: center;
  }
  
.paragrafo {
    text-align: center;
  }

.sidebar-header {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: #173F7F;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    box-shadow: 1px 1px 15px #09162b7e;
    transition: all 0.8s;
}

.sidebar button {
    height: 60px;
    background-color: var(--BODY-DEGRADE-2);
    color: var(--FONT-BUTTON);
    border: none;
    border-radius: 3px;
    font-family: var(--FONT);
    font-size: 1em;
    text-align: left;
    cursor: pointer;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    line-height: 1;
    transition: all 0.4s;
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conteudo {
    transition: all 0.8s;
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

.conteudo p {
    font-size: 1.3em;
    font-weight: bold;
}

.sidebar button i {
    position: relative;
    font-size: 28px;
}

.sidebar button:hover {
    background-color: var(--BODY-DEGRADE-1);
    width: 100%;
}

@media (width < 920px) {
    .sidebar {
        width: 80px;
    }

    .sidebar button > span {
        width: 5px;
    }

    .sidebar button > span > span {
        opacity: 0;
        visibility: hidden;
    }

    .sidebar-header a > img {
        width: 70px;
        object-fit: cover;
    }

    .conteudo {
        transition: all 0.8s;
        margin-left: 100px;
    }
}

.button-mobile {
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background-color: inherit;
    color: var(--FONT-BUTTON);
    border: 0;
    cursor: pointer;
}

.teste {
    background-color: #173F7F;
    width: 100vw;
    display: flex;
    align-items: center;
}

.button-mobile span {
    font-size: 1.2em;
    margin-left: 4px;
}

.menu-mobile {
    display: none;
}

.menu-mobile-active {
    width: 100vw;
    height: 100vh;
    background-color: #173f7fcc;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button {
    border: 0;
    background: none;
    color: var(--FONT-BUTTON);
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-mobile-active button > span {
    display: inline-flex;
    align-items: center;
}

.mobile-text {
    font-size: 20px;
    margin-left: 8px;
}

.border-close {
    background-color: #c74040;
    padding: 5px 10px;
    border-radius: 5px;
}

.border-close:hover {
    background-color: #a43232;
}

@media (max-width: 480px) {

    .sidebar {
        display: none;
    }

    .button-mobile {
        display: flex;
    }

    .conteudo {
        margin-left: 6px;
    }
}