@charset "UTF-8";

:root {
    --NAV: #0a507e;
    --BUTTON: #0a6099;
    --BLOCOS: #045286;
    --NAV-HOVER: #113c52;
    --BODY: #f0f6f6;
    --MAIN: #e5ebeb; 
    --FONT-COLOR: #ffffff;
    --FOOTER-COLOR: #124e6b;
    --FONT-BASE: Arial, Helvetica, sans-serif;
}

* {
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--BODY);
}

/* HEADER */


nav {
    font-weight: bold;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    background-color: var(--NAV);
    color: var(--FONT-COLOR);
    
    height: 6rem;
    width: 100vw;

    gap: 50rem;
}

ul {
    list-style: none;
}

#ul-principal {
    width: 100%;
    margin: auto;
}

img#menu-img {
    display: block;
}

.logo {
    padding: 0 0 0 5rem;
}

.aba {
    display: flex;
    gap: 50rem;
}

.botao {
    text-align: center;
    text-decoration: none;
    
    color: var(--FONT-COLOR);

    display: block;
}

.box-bottom {
    background-color: #0e3042;
    border-radius: 5px;

    padding: 5px 0;
    width: 5rem;

    display: flex;
    justify-content: center;
}

.box-bottom:hover {
    background-color: var(--NAV-HOVER);
}

.link-sub-menu  {
    text-align: center;
    text-decoration: none;

    color: white;

    display: block;
}

.link-sub-menu:hover {
    background-color: var(--FOOTER-COLOR);
}

.li-p {
    line-height: 35px;
    display: flex;
    justify-content: center;
}

ul > li > ul > li {
    background-color: var(--BUTTON);
    text-align: center;
}

.ul-sub {
    position: absolute;
    top: 70px;
    width: 13%;
    margin: 1px 0px 0px 0px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.402);
}


/* HEADER */


/* MAIN */

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 30px 0px 30px 0px;
}

h2 {
    text-align: justify;
    font-size: 1.5em;

    margin: 30px 0px 30px 0px;
}

main {
    margin: auto;
    width: 65vw;
}

footer {
    background-color: var(--FOOTER-COLOR);
    color: white;

    font-size: 1.1em;
    text-align: center;

    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 25px;

    padding-top: 4px;
}

/* MAIN */

footer > p > a {
    text-decoration: none;
    font-weight: bold;

    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }