@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --BODY:   #F2F2F2;
    --HEADER: #062e52;
    --NAV:    #003D73;
    --TABLE:  #D9D9D9;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--HEADER);
    height: 4rem;
}

nav {
    margin: auto;
    background-image: linear-gradient(#003D73, #012748);
    height: 85px;
    width: 90vw;
    border-radius: 0 0 30px 30px;
}

#logomarca {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--BODY);
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 2em 0 1em 0;
    line-height: 1.7;
}

h1 {
    font-size: 1.6em;
}

table {
   border-collapse: collapse;
   width: 70%;
   margin: 20px 0px 18px 0px;
   box-shadow: 5px 1px 5px rgba(74, 74, 74, 0.476);
}

th {
    background-color: var(--HEADER);
    color: var(--BODY);
}

thead {
    font-size: 1em;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: var(--HEADER);
}

tbody {
    background-color: var(--TABLE);
}

tr:nth-child(even) {
    background-color: rgba(105, 141, 199, 0.323);
 }

tr:hover {
    background-color: rgba(84, 113, 158, 0.323);
}

td, th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.pesquisa {
    width: 85%;
    display: flex;
    justify-content: right;
    margin: 3% 0 0 0;
}

#ipesquisa {
    width: 40%;
    height: 30px;

    border-radius: 5px;
    border: 1px solid rgb(100, 99, 99);

    padding: 0 0 0 5px;

    box-shadow: 0px 0px 5px 0px rgba(81, 80, 80, 0.339);
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;

    display: flex;
    align-items: center;

    margin: 0 1em 0 0;
}

section {
    margin: auto;
    width: 90%;
}

footer {
   position: fixed;
   bottom: 0; 
   background-image: linear-gradient(#003D73, #012748); 
   color: var(--BODY);

   display: flex;
   align-items: center;
   width: 100vw;
   height: 44px;
}

#rodape {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding: 0 8px;
}

#sudesb-rodape {
    font-size: 1.2rem;
    padding: 0 60rem 0 0;
}

.texto-footer {
    padding-top: 5px;
}

footer > ul > li > strong > a {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--BODY);
    text-decoration: underline;
}

.email {
    color: black;
}

.email:hover {
    color: white;
}

table.dados a[href^="mailto:"] {
    color: black;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 10%;
}

#dfPessoas {
 
    color: var(--BODY);

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    width: 60%;
    border-radius: 20px;

    position: relative;
    top: 30px;
    left: 0px;
    
    padding: 10px 0 10px 0;
    text-align: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botao {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 5px;

    width: 40%;
    height: 30px;

    position: relative;
    left: 33%;
    top: 10px;

    margin: 0 0 15px 0;

    cursor: pointer;
}

.input-width {
    height: 20px;
    width: 190%;
}

#botao:hover {
    background-color: rgb(169, 169, 169);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}